<?xml version='1.0'?>
<manifest
	xmlns:a='http://schemas.android.com/apk/res/android'
	package='com.sreeharis.camera'
	a:versionCode='0'
	a:versionName='0'>
	<uses-permission a:name="android.permission.CAMERA" />
	<uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-sdk a:minSdkVersion="21" a:targetSdkVersion="27"/>
	<application a:label='Camera' a:icon='@drawable/ic_launcher'>
		<activity a:name='.CameraActivity'>
			<intent-filter>
				<category a:name='android.intent.category.LAUNCHER' />
				<action a:name='android.intent.action.MAIN' />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.media.action.IMAGE_CAPTURE" />
				<action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.media.action.STILL_IMAGE_CAMERA" />
				<category android:name="android.intent.category.DEFAULT" />
</intent-filter>
		</activity>
	</application>
</manifest>
				
